<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="./node_modules/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>Alexander Pierce</p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>

  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">MENU</li>
    <li>
      <a ui-sref="home.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
    </li>

    <li class="treeview">
      <a href="">
            <i class="fa fa-files-o"></i>
            <span>Cadastros</span>
            <span class="pull-right-container">
              <span class="fa fa-angle-left pull-right"></span>
            </span>
          </a>
      <ul class="treeview-menu">
        <li><a ui-sref="home.usuario"><i class="fa fa-users"></i> Usuário</a></li>
        <li><a ui-sref="home.material"><i class="fa fa-paperclip"></i> Material</a></li>
        <!--<li><a href=""><i class="fa fa-circle-o"></i> Clientes</a></li>
            <li><a href=""><i class="fa fa-circle-o"></i> Fornecedores</a></li> -->
      </ul>
    </li>

    <li class="treeview">
      <a href="">
            <i class="fa fa-files-o"></i>
            <span>Financeiro</span>
            <span class="pull-right-container">
              <span class="fa fa-angle-left pull-right"></span>
            </span>
          </a>
      <ul class="treeview-menu">
        <!-- Caixa -->
        <li><a ui-sref="home.caixa"><i class="fa fa-circle-o"></i> Caixa</a></li>
        <!-- Crédito -->
        <li><a ui-sref="home.credito"><i class="fa fa-circle-o"></i> Crédito</a></li>
        <!-- Débito -->
        <li><a ui-sref="home.debito"><i class="fa fa-circle-o"></i> Débito</a></li>
        <!--Títulos em aberto-->
        <li><a ui-sref="home.titulo"><i class="fa fa-circle-o"></i> Títulos Abertos</a></li>
        <!-- Resumo -->
        <li><a ui-sref="home.resumo"><i class="fa fa-circle-o"></i> Resumo</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="">
            <i class="fa fa-files-o"></i>
            <span>Agendamento</span>
            <span class="pull-right-container">
              <span class="fa fa-angle-left pull-right"></span>
            </span>
          </a>
      <ul class="treeview-menu">
        <!-- Caixa -->
        <li><a ui-sref="home.agenda"><i class="fa fa-circle-o"></i> Agendamento</a></li>
        <li><a ui-sref="home.instalacao"><i class="fa  fa-user-plus"></i> Instalações</a></li>
        <li><a ui-sref="home.reparo"><i class="fa  fa-cogs"></i> Reparos</a></li>
      </ul>
    </li>
  </ul>
</section>