<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Dados do Colaborador</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group ">
              <label for="inputNome" class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputNome" placeholder="Nome"
                  ng-model="colabCtrl.colaborador.nome" ng-readonly="colabCtrl.tabDelete" uppercase>
              </div>
            </div>
            <div class="form-group ">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                  ng-model="colabCtrl.colaborador.email" ng-readonly="colabCtrl.tabDelete" uppercase>
              </div>
            </div>
            <div class="form-group ">
              <label for="inputDataNascimento" class="col-sm-2 control-label">Data Nascimento</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="inputDataNascimento"
                  ng-model="colabCtrl.colaborador.dataNascimento" ng-readonly="colabCtrl.tabDelete" uppercase>
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label">Nível</label>
              <div class="col-sm-3">
                <select class="form-control" ng-model="colabCtrl.colaborador.tipo" ng-disabled="colabCtrl.tabDelete" >
                  <option ng-repeat="tipo in colabCtrl.listaTipo" value={{tipo}} >{{tipo}}</option>
                </select>
              </div>
            </div>
            <div class="form-group ">
              <label for="inputUsuario" class="col-sm-2 control-label">Usuário</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputUsuario" placeholder="Usuário"
                  ng-model="colabCtrl.colaborador.login" ng-readonly="colabCtrl.tabDelete" uppercase>
              </div>
            </div>
            <div class="form-group ">
              <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputSenha"
                  ng-model="colabCtrl.colaborador.senha" ng-readonly="colabCtrl.tabDelete" uppercase>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" ng-click="colabCtrl.create()" ng-if="colabCtrl.tabCreate">Salvar</button>
            <button type="submit" class="btn btn-info" ng-click="colabCtrl.update()" ng-if="colabCtrl.tabUpdate">Alterar</button>
            <button type="submit" class="btn btn-danger" ng-click="colabCtrl.delete()" ng-if="colabCtrl.tabDelete">Excluir</button>
            <button type="submit" class="btn btn-default" ng-click="colabCtrl.refresh()">Cancelar</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
    //Date range as a button
    $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    );

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();

    //Timepicker
    $(".timepicker").timepicker({
      showInputs: false
    });
  });
</script>
