<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">COLABORADORES</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="usuario in vm.usuarios | orderBy : 'mes' | orderBy : 'ano'">
                <td>{{usuario.nome}}</td>
                <td>{{usuario.login}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.dataNascimento | date: "dd/MM/yyyy"}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-xs" ng-click="vm.showTabUpdate(usuario)">Alterar</button>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="vm.showTabDelete(usuario)">Excluir</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
