<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Dados do Colaborador</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group ">
              <label for="inputNome" class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputNome" placeholder="Nome"
                  ng-model="vm.usuario.nome" ng-readonly="vm.tabDelete" ng-change="vm.usuario.nome = (vm.usuario.nome | uppercase)">
              </div>
            </div>
            <div class="form-group ">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                  ng-model="vm.usuario.email" ng-readonly="vm.tabDelete" ng-change="vm.usuario.email = (vm.usuario.email | lowercase)">
              </div>
            </div>
            <div class="form-group ">
              <label for="inputDataNascimento" class="col-sm-2 control-label">Data Nascimento</label>
              <div class="col-sm-4">
                <input type="date" class="form-control" id="inputDataNascimento"
                  ng-model="vm.usuario.dataNascimento" ng-readonly="vm.tabDelete">
              </div>
            </div>
            <div class="form-group ">
              <label class="col-sm-2 control-label">Nível</label>
              <div class="col-sm-4">
                <select class="form-control" ng-model="vm.usuario.tipo" ng-disabled="vm.tabDelete" >
                  <option ng-repeat="tipo in vm.listaTipo" value={{tipo}} >{{tipo}}</option>
                </select>
              </div>
            </div>
            <div class="form-group ">
              <label for="inputUsuario" class="col-sm-2 control-label">Usuário</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputUsuario" placeholder="Usuário"
                  ng-model="vm.usuario.login" ng-readonly="vm.tabDelete" ng-change="vm.usuario.login = (vm.usuario.login | uppercase)">
              </div>
            </div>
            <div class="form-group ">
              <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputSenha"
                  ng-model="vm.usuario.senha" ng-readonly="vm.tabDelete" ng-change="vm.usuario.senha = (vm.usuario.senha | uppercase)">
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" ng-click="vm.create()" ng-if="vm.tabCreate">Salvar</button>
            <button type="submit" class="btn btn-info" ng-click="vm.update()" ng-if="vm.tabUpdate">Alterar</button>
            <button type="submit" class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.tabDelete">Excluir</button>
            <button type="submit" class="btn btn-default" ng-click="vm.refresh()">Cancelar</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</section>
