<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">DÉBITOS</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body row">
          <div class="form-group ">
            <label class="col-sm-1 control-label">Caixa</label>
            <div class="col-sm-2">
              <select class="form-control " ng-model="debCtrl.caixaSelecionado" ng-change="debCtrl.change()">
                <option  ng-repeat="caixa in debCtrl.caixas | orderBy : 'mes' | orderBy : 'ano'" value="{{caixa._id}}" >{{caixa.nome}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Responsável</th>
                <th>Status</th>
                <th>Fornecedor</th>
                <th>Caixa</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="debito in debCtrl.debitos">
                <td>{{debito.tipo}}</td>
                <td>{{debito.pagador}}</td>
                <td>{{debito.status}}</td>
                <td>{{debito.credor}}</td>
                <td>{{debito.statusCaixa}}</td>
                <td>{{debito.data | date: "dd/MM/yyyy"}}</td>
                <td>{{debito.valor | currency : "R$ " : 2}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="debCtrl.showTabUpdate(debito)">Alterar</button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="debCtrl.showTabDelete(debito)">Excluir</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right" ng-model="debCtrl.page" ng-if="debtCtrl.needPagination">
              <li><a href="" ng-click="debCtrl.prev()" ng-if="debCtrl.prev">Prev</a></li>
              <li ng-repeat="pages in debCtrl.pagesArray"><a href="" ng-click="debCtrl.selectPage(pages)">{{pages}}</a></li>
              <li><a href="" ng-click="debCtrl.next()" ng-if="debCtrl.next">Next</a></li>
            </ul>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
