<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Dados do Caixa</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="inputMes" class="col-sm-2 control-label">Mês</label>

              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputMes" placeholder="Mês"
                  ng-model="vm.caixa.mes">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAno" class="col-sm-2 control-label">Ano</label>

              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputAno" placeholder="Ano"
                  ng-model="vm.caixa.ano">
              </div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" ng-click="vm.create()" ng-if="vm.tabCreate">Salvar</button>
            <button type="submit" class="btn btn-info" ng-click="vm.update()" ng-if="vm.tabUpdate">Alterar</button>
            <button type="submit" class="btn btn-default" ng-click="vm.refresh()">Cancel</button>
            <button type="submit" class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.tabDelete">Excluir</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</section>
